<h1>Give me your name</h1>
<p id="demo"></p>
<form id="name" action="users" method="post">
    Name:  <input type="text"   name="name" required><br>
    <button type="submit" name="submit">Submit</button>
</form>
<br>
<form id="name1" action="/users" method="get">
    <button type="submit">How many</button>
</form>
<br>


