{{#each users}}
     <form method="post" action="?_method=PUT">
         <input type="text" name="name" value="{{ this.name }}">
         <button type="submit"  > Módosit!</button>

     </form>
     <form method="post" action="?_method=DELETE">
         <input type="hidden" name="userId" value="{{ this.id }}">
         <button type="submit"  > Törlés!</button>

     </form>
    <p>{{ this.id }}</p>

{{/each}}
