

{{#each users}}
    <p>{{ this.name }}</p>


    <button type="button"  onclick="f1(this)" value="{{ this.id }}">Leolvas adatokat!</button>

{{/each}}

<script>

    function f1(objButton){
        var url1="/users/"+objButton.value;
        window.location.href=url1;
    }
</script>